<div class="row">
  <div class="small-6 large-6 columns">
    <h3><%= @project.author %> : <%= @project.name %></h3>
    <p><%= @project.description %></p>
    <%= link_to 'Edit', edit_project_path(@project) %>
  </div>

</div>

