<div class=""><%= link_to 'Назад', @chapter.project %></div>
<%= javascript_pack_tag 'phrases_table' %>
<% props = {
    chapter: @chapter
}.to_json
%>
<div id="chapter-id" data="<%= props %>"></div>