<div class="subheader"><%= link_to @chapter.project.name, @chapter.project, class: 'link' %></div>
<%= javascript_pack_tag 'phrases_table' %>
<% props = {
    chapter: @chapter,
    current_user: current_user
}.to_json
%>
<div id="chapter-id" data="<%= props %>"></div>